* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

button {
    border: 1 px solid blac;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/* Remove excess padding and border in Firefox 4+ */
::-moz-focus-inner {
    border: 0;
    padding: 0;
}

section {
    justify-content: center;

    width: 50%;
    box-shadow: 0 0 5px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    width: 100%;
}

h1 {
    font-size: 2em;
}

article {
    /* margin: 10px; */
    flex-basis: 100%;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 10px;
}

button {
    flex: 1 1 0;
    min-height: 30px;
}

button:focus {
    border: 1px solid rgba(81, 203, 238, 1);
}

button:nth-of-type(1) {
    background-color: #ccffcc;
    border: 1px solid #e6ffe6;
}

button:nth-of-type(1):active {
    background-color: #94df94;
}

button:nth-of-type(2) {
    background-color: #66ccff;
    border: 1px solid #e6f7ff;
}

button:nth-of-type(2):active {
    background-color: #4bacdc;
}

button:nth-of-type(3) {
    background-color: #ff99cc;
    border: 1px solid #ffe6f2;
}

button:nth-of-type(3):active {
    background-color: #de69a4;
}

/* button:focus #player1,
button:focus #player2,
button:focus player3 {

    border: 1px solid rgba(81, 203, 238, 1);

} */